<header class="page-header">
    <h1>About Us</h1>
</header>

<div class="panel">
    <p> The founder of Jungle is Bob Smith. Bob wanted to sell many different types of products instead of boring old simple products that are sold on other websites. Bob wanted to sell a "Jungle of goods". Jungle is an online store with high quality goods that cannot be found anywhere else. Shop at our stores to get the best pricses for these products.</p>
</div>